@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  color: white;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #06030f;
  padding-inline: 20px;
}